body {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}
#navbar {
	height: 70px;
	display: flex;
	justify-content: center;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #ffffff;
	color: white;
	z-index: 1000;
}
#navbar div {
	display: flex;
	justify-content: center;
	align-items: center;
}
#logo {
	flex: 2;
	display: flex;
	justify-content: center;
}

#logo img {
	width: 30%;
	margin-left: 20%;
}

#search {
	flex: 2;
	display: flex;
	text-align: center;
	align-items: center;
}
#search input {
	height: 40%;
	width: 80%;
	padding: 8px 12px;
	border-radius: 10px;
	border: 1px solid #939393;
	font-size: 14px;
}

#options {
	flex: 3;
	display: flex;
	align-items: center;
}

#submit_btn {
	padding: 8px 12px;
	border: 1px solid #ccc;
	border-radius: 10px;
	background: rgb(34, 94, 195);
	background: linear-gradient(
		135deg,
		rgba(34, 94, 195, 1) 20%,
		rgba(253, 45, 238, 1) 100%
	);
	color: #f0ffff;
	font-weight: 600;
	cursor: pointer;
	transition: width ease 0.3s;
}

#submit_btn:hover {
	transform: scale(1.1);
}

#container {
	display: flex;
	flex-direction: column;
	width: 40%;
	margin: auto;
	margin-top: 15vh;
	gap: 5vh;
}

#container input {
	padding: 8px 12px;
	font-size: 14px;
	border: 1px solid #939393;
	border-radius: 10px;
}
